<section class="team-section">
    <h2 >Наша команда</h2>
    <div class="team">
        <img src="/assets/farrier-1.png"  height="240" alt="Team Illustration">
        <ul>
            <li c>
                    <strong>Команда из 10 опытных кузнецов</strong>
                    <p >Чьи руки превращают металл в искусство</p>
            </li>
            <li >
                <strong>Талантливые дизайнеры</strong>
                <p>Которые продумывают каждую деталь</p>
            </li>
            <li>
                <strong>Профессиональные замерщики</strong>
                <p>Чтобы изделия идеально вписывались в ваш интерьер</p>
            </li>
        </ul>
    </div>
</section>

<style>
    .team-section{
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        .team{
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center; /* optional for vertical centering */
                height: 300px; /* needed for vertical centering */
      
            ul{
                list-style: none;
                strong{
                    font-size: 1.5rem;
                }
                p{
                    opacity: 0.7;
                }
            }
        }
    }
</style>