<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ title }}
            {% else %}Blacksmith{% endif %}
        </title>
        <meta
        name="description" content="{% if description %}{{ description }}{% else %}Professional blacksmith services{% endif %}">
        <link
        rel="preload" href="/assets/fonts/goth.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body class="antialiased dark bg-background text-foreground">
        {% include "header.njk" %}
        {{ content | safe }}
    </body>
</html>