---
layout: base.njk
title: Blacksmith - Professional Metalwork Services
description: Professional blacksmith services with over 20 years of experience
---

<section class="contact">
    <article class="mb-0">
        <h2 class="h-fit text-center">Контакты</h2>
        <ul class="">
            <li class="flex items-start">
                <div class="flex-1">
                    <p class="font-medium">Коломна, ул. Астахова, 14</p>
                    <p class="text-muted-foreground text-sm sm:text-base">адрес</p>
                </div>
            </li>
            <li class="flex items-start">
                <div class="flex-1">
                    <p class="font-medium">+7 926 987 09 96</p>
                    <p class="text-muted-foreground text-sm sm:text-base">телефон</p>
                </div>
            </li>
            <li class="flex items-start">
                <div class="flex-1">
                    <p class="font-medium">c 10:00 по 19:00, пн-пт</p>
                    <p class="text-muted-foreground text-sm sm:text-base">часы работы</p>
                </div>
            </li>
        </ul>
        
    </article>
    <div class="map">
            <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&scroll=true&source=constructor-api&um=constructor%3A1234567890&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true" width="100%" height="100%" frameborder="0"></iframe>
        </div>
</section>

<style>

    section.contact{
        color: white;
        display: flex;
        flex-direction: row;
        width:100%;
        gap: 1rem;
        article{
            width: 50%;
            ul{
                list-style: none; 
            }

        }
        div.map{
            width: 50%;
        }
    }
</style>