---
layout: base.njk
title: Blacksmith - Professional Metalwork Services
description: Professional blacksmith services with over 20 years of experience
---
<header>

    <nav>
        <a href="/">    <svg width="200" height="48">
        <text x="40" y="35" fill="white" class="heavy">
        КорнеевКовка
        </text>
    </svg></a>
        <a href="/services">Изделия</a>
        <a href="/contact">Контакты</a>
        <a href="/about">О нас</a>
    </nav>
</header>

</section>

<style>
    body {
        background-image: url("public/main_bg_better_2.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        height: 100vh;
    }
</style>
